In [27]:
import pandas as pd
from breeze_connect import BreezeConnect
from datetime import datetime, date, time
import warnings
warnings.filterwarnings('ignore')

In [28]:
api_key = "23A00a51e45&G3!21F974C22q85a3u04"
apisecret = "O14is53)4418158U83j9y1R38*xq159e"

In [29]:
import urllib
print("https://api.icicidirect.com/apiuser/login?api_key="+urllib.parse.quote_plus(api_key))

https://api.icicidirect.com/apiuser/login?api_key=23A00a51e45%26G3%2121F974C22q85a3u04

In [30]:
breeze = BreezeConnect(api_key=api_key)
# Put session_token for the day you get after login to API through browser
breeze.generate_session(api_secret=apisecret,session_token="36627013")

In [31]:
data = breeze.get_historical_data(interval="1minute",
                            from_date= "2024-03-07T07:00:00.000Z",
                            to_date= "2024-03-07T07:00:00.000Z",
                            stock_code="NIFTY",
                            exchange_code="NSE",
                            product_type="cash")

In [32]:
df = pd.DataFrame(data['Success'])

In [33]:
df = df.drop(['exchange_code','product_type','expiry_date','right','strike_price','volume','open_interest'],axis=1)

In [34]:
df.to_csv('nifty.csv')

In [36]:
df

,datetime,stock_code,open,high,low,close,count
0,2024-03-07 07:32:00,NIFTY,22474.05,22474.05,22474.05,22474.05,0
1,2024-03-07 07:32:00,NIFTY,22474.05,22474.05,22474.05,22474.05,1
2,2024-03-07 07:33:00,NIFTY,22474.05,22474.05,22474.05,22474.05,2
3,2024-03-07 07:33:00,NIFTY,22474.05,22474.05,22474.05,22474.05,3
4,2024-03-07 07:34:00,NIFTY,22474.05,22474.05,22474.05,22474.05,4
...,...,...,...,...,...,...,...
1112,2024-03-07 17:33:00,NIFTY,22493.55,22493.55,22493.55,22493.55,1112
1113,2024-03-07 17:34:00,NIFTY,22493.55,22493.55,22493.55,22493.55,1113
1114,2024-03-07 17:35:00,NIFTY,22493.55,22493.55,22493.55,22493.55,1114
1115,2024-03-07 17:36:00,NIFTY,22493.55,22493.55,22493.55,22493.55,1115
1116,2024-03-07 17:37:00,NIFTY,22493.55,22493.55,22493.55,22493.55,1116

In [81]:
# This function take opening_time and closing time as input and retuns the gain in one day
def net_profit(df,opening_time, closeing_time):
    
    for i in range(df.shape[0]):
        if(df['datetime'][i][11:]==opening_time):
            opening_price=df.iloc[i]['open']
        
        if(df['datetime'][i][11:]==closeing_time):
            closing_price=df.iloc[i]['close']
    return float(opening_price)-float(closing_price)

In [83]:
print(net_profit(df,"09:00:00","15:00:00"))

-32.650000000001455